.paginationContainer {
  max-width: 80rem;
  margin: auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  color: #f6f5f5;
}

.pagination > li {
  padding: 1rem;
  list-style: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in;
}

.pagination > li:hover {
  background-color: #f6f5f5;
  color: #3e3639;
}

.pagination > li > a {
  outline: none;
  cursor: pointer;
  padding: 1rem;
}

.active {
  background-color: #f6f5f5;
  color: #3e3639;
}
