.listContainer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 1rem;
}

.chars {
  text-decoration: none;
  margin-bottom: 2rem;
  color: #f6f5f5;
  text-align: center;
}

.image {
  height: 22.5rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 5px;
  background-color: #e2e1e1;
  color: #4a4145;
  margin: auto;
}

.image span {
  padding-top: 10rem;
  display: block;
}

.name {
  font-weight: bold;
  font-size: 2.4rem;
}
