.overviewContainer {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.title {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  color: #f6f5f5;
}

.content {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 150%;
  color: #f6f5f5;
}

.list {
  font-size: 1.6rem;
  color: #f6f5f5;
}

.list li {
  list-style: none;
  margin-bottom: 1rem;
}
