.container {
  max-width: 124rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
}

.categorySelect {
  flex: 1 0;
  margin-right: 1rem;
  margin-top: 4rem;
}

.title {
  font-size: 2.4rem;
  color: #e2e1e1;
  margin-left: 2rem;
}

.movies {
  flex: 4 0;
}

@media only screen and (max-width: 1260px) {
  .container {
    max-width: 90%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
