.searchBox {
  position: relative;
  height: 4rem;
}

.searchIcon {
  color: #cecccc;
  font-size: 3rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 2rem;
  height: 4rem;
  background-color: #f6f5f5;
  border: 1px solid #cecccc;
  border-radius: 2rem;
  padding-left: 2rem;
  padding-right: 4rem;
  outline: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.opened {
  width: 30rem;
  visibility: visible;
  opacity: 1;
}
