.listContainer {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 1rem;
}

.movie {
  text-decoration: none;
  margin-bottom: 2rem;
  color: #121212;
}

.image {
  border-radius: 1rem;
}

.title {
  font-weight: bold;
  font-size: 2.4rem;
}

.genre {
  font-size: 1.6rem;
}
