.container {
  max-width: 124rem;
  height: 80vh;
  margin: 10rem auto 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1260px) {
  .container {
    max-width: 90%;
  }
}

.imgContainer {
  margin: 10rem;
  position: relative;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  background: #e2e1e1;
  border-radius: 50%;
}

.uploadBtn {
  cursor: pointer;
  color: #f6f5f5;
  font-size: 4rem;
  position: absolute;
  right: 0;
  bottom: -3%;
}

.label {
  color: #f6f5f5;
  font-size: 1.6rem;
}

.input {
  width: 50rem;
  height: 3rem;
  border: none;
  border-radius: 3px;
  padding: 0 1rem;
  margin: 1rem 0 2rem;
  outline: none;
}

.submitBtn {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 3px;
  margin: 1rem 0;
  cursor: pointer;
  outline: none;
  color: #3e3639;
  background-color: #e2e1e1;
}

.submitBtn:hover {
  background-color: #f6f5f5;
}

.uploadProgress {
  display: inline-block;
}

.success {
  font-size: 1.6rem;
  color: #f6f5f5;
}

.progress {
  background-color: #cecccc;
  border-radius: 2rem;
  position: relative;
  margin: 1.5rem 0;
  height: 2rem;
  width: 30rem;
}

.progressDone {
  background: linear-gradient(to left, #fa7517, #ee4818);
  box-shadow: 0 2px 2px -3px #fa7517, 0 1px 3px #fa7517;
  border-radius: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

@media only screen and (max-width: 1100px) {
  .imgContainer {
    margin: 5rem;
  }

  .input {
    width: 40rem;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}
