.reviewContainer {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}

.img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1rem;
}

.review {
  width: 100%;
  margin-left: 2rem;
}

.name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #f6f5f5;
}

.form {
  width: 100%;
}

.textarea {
  width: 100%;
  border: 1px solid #ffffff;
  font-family: inherit;
  padding: 1.5rem;
  padding-right: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  outline: none;
  resize: none;
}

.btn {
  font-family: inherit;
  font-weight: bold;
  padding: 1rem 4rem;
  border: none;
  border-radius: 5px;
  background-color: #f6f5f5;
  color: #3e3639;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.textContainer {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2.4rem;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: all 0.3s ease-in-out;
}

.btn:hover .icon {
  visibility: visible;
  opacity: 1;
  width: 3rem;
}

.progress {
  margin-top: -1.4rem;
  background-color: #771f00;
}

.progress > div {
  background-color: #fe7400;
}

.textareaContainer {
  margin-bottom: 2rem;
}
