.button {
  height: 4rem;
  width: 10rem;
  border: 1px solid #f6f5f5;
  border-radius: 5px;
  background: transparent;
  color: #f6f5f5;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
  outline: none;
}

.button:hover {
  background: #f6f5f5;
  color: #3e3639;
}
