.container {
  max-width: 124rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 40rem;
  height: 4rem;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  padding-left: 1rem;
  outline: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #3e3639;
  transition: all 0.2s ease-in;
}

.changeBg {
  background-color: #f6f5f5;
}
