.container {
  max-width: 124rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #3e3639;
  transition: all 0.2s ease-in;
}

.changeBg {
  background-color: #f6f5f5;
}

.searchLogin {
  display: flex;
  align-items: center;
}
