.container {
  max-width: 100%;
  margin-top: 6rem;
}

.imgContainer {
  width: 100%;
  height: 40rem;
}

.image {
  width: 100%;
  object-fit: cover;
  animation: moveUp 25s infinite alternate ease-in-out;
}

@keyframes moveUp {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(-30%);
  }
}

@media only screen and (max-width: 1000px) {
  .imgContainer {
    width: 100%;
    height: 30rem;
  }
}
