.footer {
  background-color: #f6f5f5;
  color: #3e3639;
}

.container {
  display: flex;
  max-width: 124rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
}

.logoAndDesc {
  display: flex;
  flex-direction: column;
  width: 30rem;
  font-size: 1.3rem;
}

.navFooter li {
  font-size: 1.3rem;
  list-style: none;
  padding: 0.3rem 1rem;
  margin: 0.1rem;
  border-radius: 3px;
  color: #3e3639;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.navFooter li:hover {
  background-color: #3e3639;
  color: #f6f5f5;
  transform: rotateZ(-5deg) scale(1.1);
}

.socialMedia h3 {
  font-weight: 500;
}

.downloadOption {
  display: flex;
  align-items: center;
}

.downloadOption img {
  width: 12rem;
  object-fit: contain;
  cursor: pointer;
}

.downloadOption img:first-of-type {
  width: 15rem;
  margin-left: -1rem;
}

.downloadSocmed {
  margin: 5px;
}

.socmedIcon {
  font-size: 3.6rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
